name: Build Markterm

# Manual trigger
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller textual rich markdown-it-py textual-image

      - name: Build Markterm binary
        run: |
          pyinstaller --onefile --name Markterm main.py

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: markterm-linux
          path: dist/Markterm
