name: Build Markterm

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Install PyOxidizer
        run: |
          pip install pyoxidizer

      - name: Build Markterm
        run: |
          pyoxidizer build --release

      - name: Upload binary
        uses: actions/upload-artifact@v3
        with:
          name: markterm-linux
          path: build/x86_64-unknown-linux-gnu/release/install/Markterm
